.App {
  text-align: center;
  /* background-color: #394F8A; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main1{

  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 20px;
  width: 1000px;
  border: solid #ececec 1px;
  background-color:#ffffff;
  border-radius: 10px;
}

.copyright {
  color: #abf3e9;
  text-align: center;
  margin-top: 20px;
  font-size: smaller;
}

.footer{
  background-color: #232F3E;
  color: #FFFFFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
